@if (isOpen) {
<div class="modal-overlay">
    <div class="modal-content">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        <h2>{{ title }}</h2>
        <div class="form">
            <div class="field">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" [(ngModel)]="book.title"
                    [ngClass]="{'error-input': submitted && book.title === ''}">
                @if(submitted && book.title === ''){
                <span class="error">This field is required</span>
                }
            </div>
            <div class="field">
                <label for="author">Author</label>
                <input type="text" [(ngModel)]="book.author"
                    [ngClass]="{'error-input': submitted && book.author === ''}">
                @if(submitted && book.author === ''){
                <span class="error">This field is required</span>
                }
            </div>
            <div class="field">
                <label for="read">Read</label>
                <input type="checkbox" [(ngModel)]="book.read">
            </div>
        </div>
        <div>
            <button class="btn-green" (click)="accept()">Accept</button>
            <button class="btn-red" (click)="closeModal()">Cancel</button>
        </div>
    </div>
</div>
}