<div class="container">

    <h1>Books</h1>

    <div class="table-header">
        <button class="btn-green">Add book</button>
    </div>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Read?</th>
            <th> </th>
        </tr>
        @for (book of books; track $index) {
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.read ? "Yes": "No"}}</td>
            <td>
                <button class="btn-blue">Update</button>
                <button class="btn-red" (click)="deleteBook(book)">Delete</button>
            </td>
        </tr>
        }
    </table>
</div>